.aboutMe-page {
  background-image: url("/assets/images/ria-oZzoDW61aoM-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  min-height: 800px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.headshot {
  width: 100px;
  margin: 20px 20px 0px 20px;
  object-fit: cover;
  border: 2px solid whitesmoke;
  border-radius: 10%;
  box-shadow: 3px 3px 10px black;
}

.aboutMe-top-container {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
  font-family: 'Acme', sans-serif;
}

.aboutMe-top-container h1 {
  font-size: 35px;
  margin: 0px;
}

.about-me-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-info p {
  font-size: 18px;
  margin: 12px 10px;
  width: 50%;
}

ul {
  list-style-type: circle;
  margin-left: 20px;
  font-family: 'Acme', sans-serif;
}

@media screen and (max-width: 992px) {
  .about-me-info p {
    width: 75%;
  }

  .aboutMe-page {
    min-height: 900px;
  }
}

@media screen and (max-width: 550px) {
  .about-me-info p {
    font-size: 16px;
    width: 98%
  }

  .aboutMe-page {
    min-height: 1200px;
  }

}