/* 
-------------------------------------------------------
Project Info RELATED CSS
-------------------------------------------------------
*/
.project-info {
  height: 45vh;
  min-height: 450px;
  width: 50%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-info-title {
  font-size: 80px;
  font-family: 'Acme', sans-serif;
  text-shadow: 3px 3px 6px black;
}

.project-info-links {
  margin-bottom: 8px;
}

.project-info-links img {
  height: 30px;
  padding-right: 15px;
}

.project-info-links img:hover {
  transform: scale(1.2);
}

.project-info-links p {
  margin: 8px 0px 0px 0px;
  font-family: 'Acme', sans-serif;
  text-shadow: 3px 3px 6px black;
}

.project-info-description {
  font-size: 20px;
  text-shadow: 1px 1px 4px black, 1px -1px 4px black, -1px -1px 4px black, -1px 1px 4px black;
}

/* 
-------------------------------------------------------
CAROUSEL RELATED CSS
-------------------------------------------------------
*/

.carousel {
  height: 40vh;
  min-height: 300px;
  /* height: 350px; */
  display: grid;
  /* set to "end" to place in bottom right of slider */
  place-items: end;
}

.slider {
  width: 100%;
  max-width: 700px;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-right: 3%;
  /* border: solid red 1px; */
}

.slide-holder {
  height: 85%
}

.button-holder {
  height: 15%;
  min-height: 40px
}

.slide {
  width: 31%;
  height: 85%;
  position: absolute;
  transition: all 0.5s;
  padding: 1%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px black;
}

.slide-title{
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin-right: 20px;
  text-shadow: 3px 3px 6px black, 3px -3px 6px black;
  font-size: 150%;
}

.button {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background: rgba(255,255,255,0.1);
  border: solid white 1px;
  font-size: 25px;
  color: white
}

.button:active {
  transform: scale(1.1);
}

.btn-prev {
  left: 1%;
}

.btn-next {
  left: 15%;
}


/* .slide {
  height: 18rem;
  width: 14rem;
  border-radius: 0.25rem;
  border: 0.02rem solid grey;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  position: relative;

}

.slide-title  {
  font-size: 2rem;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-family: "Acme", sans-serif;
} */

/* Set carousel to be at bottom right of screen */
/* .carousel-container {
  min-width: 28rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
} */
