/* 
-------------------------------------------------------
Project Info RELATED CSS
-------------------------------------------------------
*/
.project-info {
  height: 45vh;
  min-height: 350px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-info-title {
  font-size: 80px;
  font-family: 'Acme', sans-serif;
  text-shadow: 3px 3px 6px black;
}

.project-info-links {
  margin-bottom: 8px;
}

.project-info-links img {
  height: 30px;
  padding-right: 15px;
}

.project-info-links img:hover {
  transform: scale(1.2);
}

.project-info-links p {
  margin: 8px 0px 0px 0px;
  font-family: 'Acme', sans-serif;
  text-shadow: 3px 3px 6px black;
}

.project-info-description {
  width: 60%;
  font-size: 20px;
  text-shadow: 1px 1px 4px black, 1px -1px 4px black, -1px -1px 4px black, -1px 1px 4px black;
}

/* 
-------------------------------------------------------
CAROUSEL RELATED CSS
-------------------------------------------------------
*/

.carousel {
  height: 40vh;
  min-height: 300px;
  display: grid;
  place-items: end;
}

.slider {
  width: 100%;
  max-width: 700px;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-right: 3%;
  /* border: solid red 1px; */
}

.slide-holder {
  height: 85%
}

.button-holder {
  height: 15%;
  min-height: 40px
}

.slide {
  width: 31%;
  height: 85%;
  position: absolute;
  transition: all 0.5s;
  padding: 1%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px black;
}

.slide-title {
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin-right: 20px;
  text-shadow: 3px 3px 6px black, 3px -3px 6px black;
  font-size: 150%;
}

.button {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  border: solid white 1px;
  font-size: 25px;
  color: white
}

.button:active {
  transform: scale(1.1);
}

.btn-prev {
  left: 0px;
}

.btn-next {
  left: 100px;
}


@media screen and (max-width: 992px) {
  .project-info {
    height: 400px
  }

  .project-info-links p {
    font-size: 14px;
  }

}



@media screen and (max-width: 768px) {
  .project-info-description {
    font-size: 16px;
    margin-right: 10px;
    width: 75%;
  }
}



@media screen and (max-width: 550px) {
  .project-info {
    height: auto;
    justify-content: start;
  }
  .project-info-title {
    font-size: 50px;
  }

  .project-info-description {
    width: 100%;
    margin-bottom: 0px;
  }

  .slide-holder {
    visibility: hidden;
  }


  .carousel {
    height: 60px;
  }

  .slide-holder {
    height: 0px;
  }
  

}