.resume-page {
  background-image: url("/assets/images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  min-height: 500px;
}

.resumePage-resume {
  max-width: 700px;
  padding: 20px;
  font-size: 20px;
}

.resumePage-tech-stack {
  margin: 20px;
  font-family: 'Acme', sans-serif;
}

.resumePage-tech-stack p {
  font-size: 28px;
}

.resumePage-tech-stack ul {
  font-size: 20px;
}

@media screen and (max-width: 550px) {
  .resume-page {
    min-height: 650px;
  }

}